*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
}
h2{
    position: absolute;
    width: 20%;
    height:auto;
    left: 40%;
    top: 10vh;
    text-align: center;
}
.pokeCon{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:pink;
    left: 10%;  
    top: 20vh;  
}
.green{
    background-color: green;
}
.normal{
    background-color:white;
}
.fire{ background-color:red;}
.water{ background-color:blue;}
.poison{ background-color:purple;}
.electric{ background-color:yellow;}
.ground{ background-color:brown;}
.fairy{ background-color:pink}
.fighting{ background-color:#610f0f;}
.bug{ background-color:#61570f;}